{% extends "FormArmorBundle::admin_layout.html.twig" %}
{% block FormArmor_body %}
<h4>LA SESSION N° {{ laSession.id }} QUI A POUR LIBELLE {{laSession.formation.libelle}} A BIEN ETE VALIDER , UN MAIL D'ANNULATION A ETE ENVOYER AU ADRESSE SUIVANTE :</h4>
{% for mail in lesMail %}
    <h7> {{ mail }} </h7> <br>
{% endfor %}
{% endblock %}
