{% extends "FormArmorBundle::admin_layout.html.twig" %}
{% block FormArmor_body %}
<h2>LA SESSION N° {{ idSession }} A BIEN ETE VALIDER , UN MAIL DE CONFIRMATION A ETE ENVOYER AU ADRESSE SUIVANTE</h2>
{{ LesMail }}
{% endblock %}
