Bonjour,

La Session n°{{laSession.id}} qui a pour libelle : {{ laSession.formation.libelle }} et qui se déroulera le {{ laSession.id }} a été confirmée , veuillez vous présenter le jour de l'inscription

<h1> FormArmor </h1>